
.app{
  background-color: #e6e1e1;
}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  background-color:rgb(214, 49, 49);
  color:#fff;
  padding:4px;
  margin: auto;
  border-radius:4px;
  justify-items: end;
  box-shadow:   1px 5px rgba(4, 4, 126, 0.13);
  width: 98%;
  
}

.orderBtn{
  display: block; 
  float: right;
  padding: 15px;
  border: none;
  background: #333;
  color: #fff;
}

.orderBtn:hover{
  background: red;
  color: #fff;
}

.backbtn{
  border: none;
  background: black;
  color: white;
  padding: 15px;
}

.backbtn:hover{
  background: red;
  color: white;
}

.header h2{
  text-align:left;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  word-spacing: 10px;
  margin-left: 3px;
  justify-self: left;
}

.or{
  font-family: 'Germania One', cursive;
}
.placeholder{
 text-align: center;
 color: red;
 font-family: Tahoma,Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 font-size: 20px;
}
.placeholder button{
    border:none;
    background-color: rgb(112, 112, 190);
    color:#fff;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 20px;
 }
 .placeholder button:hover{
  transition-property: background;
  transition-duration: 1s;
  background-color: rgb(63, 63, 129);
  color:#fff;
 
}
.deliveryT1{
  background-color: rgba(230, 32, 32, 0.733);
  color:#fff;
  font-size: 150px;
  border-radius: 10px;
}

.deliveryT2{
  background-color: rgb(112, 112, 190);
  color:#fff;
  font-size:150px;
  border-radius: 10px;
}


footer{
  background: #333;
  color:#fff;
  text-align: center;
  padding: 15px;
  margin-top: 10px;

}

.linkStyle{
  text-decoration: none;
  margin-left: 5px;
  margin-right:5px;
  padding-left: 18px; 
  color:#fff;
  font-size: 20px;
}
.links{
/* text-align: center; */
padding: 1em;
margin-left: 1em;

}
.linkStyle:hover{
  color: rgb(127, 189, 103);
 
  }

.conbtn{
  background: rgba(255, 0, 0, 0);
  border:1px solid #fff;
  padding-left:1em;
  padding-top: 10px;
  padding-bottom: 10px;
 padding-right: 1em;
 font-size: 18px;
}

.conbtn:hover{
  background: #333;
  color: #fff;
}
img{
  
  width :100%;
  height: 600px;
 
}
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

/* .menus{
/* list-style: none; */

/*} */
.menuLinks{
  text-decoration: none;
  color: #333;
}

.menu-item{
border: 1px solid red;
padding: 17px;
margin:20px; 
}

.subItem img{

  width:200px;
  height: 200px;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart{
  display: grid;
  grid-template-columns: 1fr ;
  margin-top: 50px;
  margin-left:80px;
  border: 2px dotted red;
  height: 500px;
}

.cartItem{
  text-align: center;
  
}